---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { compareStrings } from "../functions/functions.js";
const posts = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});
posts.sort(function(a, b) {
        return compareStrings(a.data.title, b.data.title);
    })
---

<BaseLayout>
	<div class="content-container">
		{
			posts.map((post) => {
				 return (
						<a class="card" href={`/${post.slug}`}>
							<img src={post.data.image} class="image" alt={post.data.image_alt} />
							<div class="text">
								<h1>{post.data.title}</h1>
								<h2>{post.data.artist}</h2>					
							</div>
						</a>												
				  );
			})
		}
	</div>
</BaseLayout>

<style>
		.content-container {
			padding: 2rem;		
			display: flex;
			flex-direction: column;
			gap: 20px;
			max-width: 900px;	
			margin: auto;		
		}

		.card {			
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
			transition-duration: 300ms;
			overflow: hidden;
			border-radius: 1rem;
			text-decoration: none;									
		}

		.card:hover {
			box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
			border-radius: 1.5rem;
		}

		.card:hover .text {
			border-bottom: 0.25rem solid rgb(182, 201, 13);
		}

		.image {			
			height: 150px;
			width: 150px;
			min-width: 150px;
			object-fit: contain;			
		}

		.text {
			background-color: #fdfdfdd8;
			min-width: 300px;			
			flex-grow: 3;
			padding-left: 2rem;
			border-bottom: 0.25rem solid rgb(156, 9, 112);
			box-sizing: border-box;
			transition-duration: 500ms;			
		}

		h1 {
			font-weight: 900;
			color: black;
		}

		h2 {
			font-weight: 500;
			color: black;
		}
</style>